<ion-header *ngIf = "display">
  <ion-navbar>
    <ion-title>首页</ion-title>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="scrollHandler($event)"> 


<ion-fab right bottom *ngIf = "display">
  <button ion-fab color="homered">
    <ion-icon name="create"></ion-icon>
  </button>
</ion-fab>


<ion-card>
  <img src="assets/imgs/test.jpg" />
  <ion-card-content>
    <ion-card-title>
      Nine Inch Nails Live
    </ion-card-title>
    <p>
      The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
    </p>
  </ion-card-content>
</ion-card>
<ion-card>
  <img src="assets/imgs/test.jpg" />
  <ion-card-content>
    <ion-card-title>
      Nine Inch Nails Live
    </ion-card-title>
    <p>
      The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
    </p>
  </ion-card-content>
</ion-card><ion-card>
  <img src="assets/imgs/test.jpg" />
  <ion-card-content>
    <ion-card-title>
      Nine Inch Nails Live
    </ion-card-title>
    <p>
      The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
    </p>
  </ion-card-content>
</ion-card><ion-card>
  <img src="assets/imgs/test.jpg" />
  <ion-card-content>
    <ion-card-title>
      Nine Inch Nails Live
    </ion-card-title>
    <p>
      The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
    </p>
  </ion-card-content>
</ion-card>
</ion-content>
