<ion-header *ngIf="display">
  <ion-navbar>
    <ion-title>首页</ion-title>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="scrollHandler($event)">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-down" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="数据加载中...">
      </ion-refresher-content>
    </ion-refresher>

  <ion-fab right bottom *ngIf="display">
    <button ion-fab color="homered" (click)="createPassage()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

  <ion-card (click)="createPassage()">
    <ion-item>
      <ion-avatar item-start>
        <img src="{{headface}}">
      </ion-avatar>
      <p>你有什么新鲜事想要分享吗？</p>
      <ion-avatar item-end>
        <button ion-button round icon-only class="camera_button" color="light">
          <ion-icon class="camera_icon" name="camera"></ion-icon>
        </button>
      </ion-avatar>
    </ion-item>
  </ion-card>



  <ion-card *ngFor="let p of passages">
    <ion-item>
      <ion-avatar item-start>
        <img src="{{p.user_icon}}">

      </ion-avatar>
      <p class="username">{{p.author_name}}
        <span class="from" (tap)="pushClubDetails(p.owner_type,p.owner_id)">
          <ion-icon class="from_icon" name="play"></ion-icon>
          &nbsp;{{p.owner_name}}
        </span>
        <span class="time">{{p.created_at| date:"yyyy-MM-dd  HH:mm"}}</span>
      </p>
    </ion-item>

    <ion-card-content  (click)=gotoDetails(p.id)>
      <p class="part">{{p.body}}</p>
    </ion-card-content>
  <ion-row>
    <ion-col col-8>
      <button ion-button icon-left clear color="light-dark" (click)=like(p.id,p)>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{p.likes}}</div>
      </button>
    </ion-col>
    <ion-col col-2>
      <button ion-button icon-left clear color="light-dark" (click)="showCommentPage(p.id)">
        <ion-icon name="text"></ion-icon>
<div>{{p.comments_count}}</div>
      </button>
    </ion-col>
    <ion-col col-2>
      <button ion-button clear color="light-dark">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  </ion-card>


</ion-content>
