<ion-header no-border>

  <ion-navbar no-border-bottom color="clubgreen" *ngIf="display">
    <ion-title>社团</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top color="clubgreen">
    <ion-segment [(ngModel)]="club" color="white">
      <ion-segment-button value="recommend">
        推荐
      </ion-segment-button>
      <ion-segment-button value="member">
        成员
      </ion-segment-button>
      <ion-segment-button value="yours">
        你的社团
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content (ionScroll)="scrollHandler($event)">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-down" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="数据加载中...">
      </ion-refresher-content>
    </ion-refresher>

  <div [ngSwitch]="club">
    <div *ngSwitchCase="'recommend'">

      <ion-card *ngFor="let reclub of recommendFeeds">
        <div class="top-image" (tap)="pushClubDetails(reclub.id)">
          <img src="{{reclub.icon}}">
        </div>
        <div class="bottom-content" (tap)="pushClubDetails(reclub.id)">
          <ion-card-content>
            <p class="circle-title">{{reclub.name}}</p>
            <p class="circle-members">{{reclub.member_count}}个成员</p>
          </ion-card-content>
        </div>
        <div class="bottom-button">
          <button ion-button color="clubgreen" clear (click)=join(reclub.id)>加入</button>
        </div>
      </ion-card>

    </div>
  </div>

  <div [ngSwitch]="club">
    <div *ngSwitchCase="'member'">

      <ion-card *ngFor="let f of memberFeeds">
        <div class="top-image" (tap)="pushClubDetails(f.id)">
          <img src="{{f.icon}}">
        </div>
        <div class="bottom-content" (tap)="pushClubDetails(f.id)">
          <ion-card-content>
            <p class="circle-title">{{f.name}}</p>
            <p class="circle-members">{{f.member_count}}个成员</p>
          </ion-card-content>
        </div>
        <div class="bottom-button">
          <button ion-button color="clubgreen" clear>进入</button>
        </div>
      </ion-card>

    </div>
  </div>

  <div [ngSwitch]="club">
    <div *ngSwitchCase="'yours'">
      <ion-card class="add-club" text-center (click)="createClub()">
        <ion-icon name="add-circle"></ion-icon>
        <div class="card-title">创建社团</div>
      </ion-card>
      <ion-card *ngFor="let f of myFeeds">
        <div class="top-image" (tap)="pushClubDetails(f.id)">
          <img src="{{f.icon}}">
        </div>
        <div class="bottom-content" (tap)="pushClubDetails(f.id)">
          <ion-card-content>
            <p class="circle-title">{{f.name}}</p>
            <p class="circle-members">{{f.member_count}}个成员</p>
          </ion-card-content>
        </div>
        <div class="bottom-button">
          <button ion-button color="clubgreen" clear>进入</button>
        </div>
      </ion-card>

    </div>
  </div>
</ion-content>
