<ion-header>

  <ion-navbar color="purple">
    <ion-title>我的</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-down" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="数据加载中...">
      </ion-refresher-content>
    </ion-refresher>
    
  <div *ngIf="notLogin">
    <ion-card>
    
      <ion-card-header text-center>
        <div>
          <img src="assets/imgs/clubook.jpg">
        </div>
        登陆Clubook，体验更多功能
      </ion-card-header>
    
      <ion-card-content text-center>
        <button ion-button outline (click)="showModal()" color="purple">登陆/注册</button>
      </ion-card-content>
    
    </ion-card>
  </div>

    <div *ngIf="logined">
      <ion-list class="marginTop">
        <button ion-item (click)="gotoUserPage()">
          <ion-avatar item-start>
            <img src={{headface}}/>
          </ion-avatar>
          <h2>{{userinfo["name"]}}</h2>
          <p>查看个人主页或编辑简介</p>
        </button>
      </ion-list>

    </div>

</ion-content>

