<ion-header>

  <ion-navbar color="purple">
    <ion-title>我的</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-down" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="数据加载中...">
      </ion-refresher-content>
    </ion-refresher>
    
  <div *ngIf="notLogin">
    <ion-card>
    
      <ion-card-header text-center>
        <div>
          <img src="assets/imgs/clubook.jpg">
        </div>
        登陆Clubook，体验更多功能
      </ion-card-header>
    
      <ion-card-content text-center>
        <button ion-button outline (click)="showModal()" color="purple">登陆/注册</button>
      </ion-card-content>
    
    </ion-card>
  </div>

    <div *ngIf="logined">
      <ion-list class="marginTop">
        <button ion-item (click)="gotoUserPage()">
          <ion-avatar item-start>
            <img src={{headface}}/>
          </ion-avatar>
          <h2>{{userinfo["name"]}}</h2>
          <p>查看个人主页或编辑简介</p>
        </button>
      </ion-list>


          <ion-list class="marginTop">
            <ion-list-header>我的clubook</ion-list-header>
            <button ion-item (click)="gotoDataList('write')">
              <ion-icon name="paper" item-left color="primary"></ion-icon>
              <ion-label>我的文章</ion-label>
            </button>
            <button ion-item (click)="gotoDataList('like')">
              <ion-icon name="thumbs-up" item-left color="homered"></ion-icon>
              <ion-label>我的点赞</ion-label>
            </button>
            <button ion-item (click)="gotoDataList('comment')">
              <ion-icon name="disc" item-left color="secondary"></ion-icon>
              <ion-label>我的评论</ion-label>
            </button>
          </ion-list>

              <ion-list class="marginTop">
                <ion-list-header>设置</ion-list-header>
                <ion-item>
                  <ion-icon name="cloudy-night" item-left color="purple"></ion-icon>
                  <ion-label>夜间模式</ion-label>
                  <ion-toggle color="purple"></ion-toggle>
                </ion-item>
              
                <button ion-item>
                  <ion-icon name="code-working" item-left color="dark"></ion-icon>
                  <ion-label>关于Clubook</ion-label>
                </button>
              
              </ion-list>

    </div>

</ion-content>

