<ion-header no-border>

  <ion-navbar no-border-bottom color="circleblue" *ngIf="display">
    <ion-title>圈子</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top color="circleblue">
    <ion-segment [(ngModel)]="circle" color="white">
      <ion-segment-button value="recommend">
        推荐
      </ion-segment-button>
      <ion-segment-button value="member">
        成员
      </ion-segment-button>
      <ion-segment-button value="yours">
        你的圈子
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>



<ion-content (ionScroll)="scrollHandler($event)">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="数据加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="circle">
    <div *ngSwitchCase="'recommend'">

      <ion-card *ngFor="let recircle of recommendFeeds">
        <div class="top-image" (tap)="pushCircleDetails(recircle.id)">
          <img src="assets/imgs/test.jpg">
        </div>
        <div class="bottom-content" (tap)="pushCircleDetails()">
          <ion-card-content>
            <p class="circle-title">{{recircle.name}}</p>
            <p class="circle-members">198,300个成员</p>
          </ion-card-content>
        </div>
        <div class="bottom-button">
          <button ion-button color="circleblue" clear (click)="join(recircle.id)">加入</button>
        </div>
      </ion-card>

    </div>
  </div>

  <div [ngSwitch]="circle">
    <div *ngSwitchCase="'member'">

      <ion-card *ngFor="let f of memberFeeds">
        <div class="top-image" (tap)="pushCircleDetails()">
          <img src="assets/imgs/test.jpg">
        </div>
        <div class="bottom-content" (tap)="pushCircleDetails()">
          <ion-card-content>
            <p class="circle-title">{{f.name}}</p>
            <p class="circle-members">198,300个成员</p>
          </ion-card-content>
        </div>
        <div class="bottom-button">
          <button ion-button color="circleblue" clear>进入</button>
        </div>
      </ion-card>

    </div>
  </div>

  <div [ngSwitch]="circle">
    <div *ngSwitchCase="'yours'">
      <ion-card class="add-club" text-center (click)="createCircle()">
        <ion-icon name="add-circle"></ion-icon>
        <div class="card-title">创建社团</div>
      </ion-card>
      <ion-card *ngFor="let f of myFeeds">
        <div class="top-image" (tap)="pushCircleDetails()">
          <img src="assets/imgs/test.jpg">
        </div>
        <div class="bottom-content" (tap)="pushCircleDetails()">
          <ion-card-content>
            <p class="circle-title">{{f.name}}</p>
            <p class="circle-members">198,300个成员</p>
          </ion-card-content>
        </div>
        <div class="bottom-button">
          <button ion-button color="circleblue" clear>进入</button>
        </div>
      </ion-card>

    </div>
  </div>




</ion-content>
