page-createpassage {
    // .content{
    //     background: rgba(65, 64, 64, 0.5) !important;
    // }

    // .create-body{
    //     background: #fff;
    //     height: 97%;
    //     width: 94%;
    //     margin-top: 5%;
    //     margin-left: 3%;
    //     margin-right: 3%;
    //     position: relative;
    // }

    .submit-button{
        float: right;
    }

    .toolbar{
        position: absolute;
        bottom: 0;
    }

}
