page-createpassage {
  // .content{
  //     background: rgba(65, 64, 64, 0.5) !important;
  // }
  // .create-body{
  //     background: #fff;
  //     height: 97%;
  //     width: 94%;
  //     margin-top: 5%;
  //     margin-left: 3%;
  //     margin-right: 3%;
  //     position: relative;
  // }
  // .from_icon {
  //   font-size: 1rem;
  // }
  .to {
    font-weight: bold;
    margin-top: 10px;
  }
  .from {
    color: color($colors, clubgreen);
    font-weight: 400;
  }
  .submit-button {
    float: right;
  }
  .toolbar {
    position: absolute;
    bottom: 0;
  }
}
